# Compiler files
cache/
out/

# Ignores development broadcast logs
/broadcast
/broadcast/*/11155111/
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
.env.local
.env.test
.env.test.local

# Ignore node_modules
node_modules/

# Ignore coverage
coverage/
coverage.json
